body {
	margin: 0px;
	padding: 0px;
	font-family:"Bad Script";
	overflow-x: hidden;
	overflow-y: hidden;
}

#content-container{
	max-width: 100%;
	max-height: 100%;
	width: 1920px;
	height: 1080px;
}

#background {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	width: 1920px;
	height: 1080px;
}

#logo {
	/*
	position: absolute;
	top: 4.537%;
	left: 25.801%;
	max-width: 78.403%;
	max-height: 66.296%;
	width: auto;
	height: auto;
	*/
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/*
#Kiran_Kumar {
	position: absolute;
	top: 33.148%;
	left: -10%;
	max-width: 36.626%;
	max-height: 85.926%;
	width: auto;
	height: auto;
}


#Kaylyn_Slevin {
	position: absolute;
	top: 46.204%;
	left: 83.118%;
	max-width: 21.335%;
	max-height: 56.852%;
	width: auto;
	height: auto;
}


#Cali_Sheldon {
	position: absolute;
	top: 54.537%;
	left: 52.276%;
	max-width: 42.564%;
	max-height: 50%;
	width: auto;
	height: auto;
}



#Dylan_Weand {
	position: absolute;
	top: 57.222%;
	left: 41.187%;
	max-width: 21.44%;
	max-height: 56.667%;
	width: auto;
	height: auto;
}


#Ariana_Davis {
	position: absolute;
	top: 49.537%;
	left: 17.801%;
	max-width: 24.488%;
	max-height: 60.185%;
	width: auto;
	height: auto;
}
*/

#Cali_Sheldon {
	position: absolute;
	top: 50.111%;
	left: 10%;
	max-width: 36.626%;
	max-height: 85.926%;
	width: auto;
	height: auto;
}

#Kaylyn_Slevin {
	position: absolute;
	top: 50.111%;
	left: 40%;
	max-width: 24.488%;
	max-height: 50.185%;
	width: auto;
	height: auto;
}

#Kiran_Kumar {
	position: absolute;
	top: 35.111%;
	left: 50%;
	max-width: 72.564%;
	max-height: 80.111%;
	width: auto;
	height: auto;
}

#Ariana_Davis {
	position: absolute;
	top: 43.333%;
	left: 70%;
	max-width: 21.335%;
	max-height: 56.852%;
	width: auto;
	height: auto;
}


