body {
	margin: 0px;
	padding: 0px;
	font-family:"Bad Script";
	/* overflow-x: hidden;
	overflow-y: hidden; */
}

#content-container{
	max-width: 100%;
	max-height: 100%;
	width: 1920px;
	height: 1080px;
}

#background {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	width: 1920px;
	height: 1080px;
}


#arrow {
	position: absolute;
	top: 81.355%;
	left: 4.906%;
	max-width: 15.494%;
	max-height: 10.775%;
	width: auto;
	height: auto;
}


#kiran {
	position: absolute;
	top: 0%;
	left: 30.005%;
	max-width: 46.768%;
	max-height: 109.815%;
	width: auto;
	height: auto;
}


#text_1 {
	position: absolute;
	top: 50.046%;
	left: 20.415%;
	max-width: 25.486%;
	max-height: 20.185%;
	width: auto;
	height: auto;
	font-size: 1.576vw;
	font-weight: bold;
	text-align: left;
	color:#1b1b1c;
}


#text_2 {
	position: absolute;
	top: 16.435%;
	left: 23.778%;
	max-width: 28.271%;
	max-height: 20.185%;
	width: auto;
	height: auto;
	font-size: 1.576vw;
	font-weight: bold;
	text-align: left;
	color:#1b1b1c;
}


#text_3 {
	position: absolute;
	top: 18.38%;
	left: 73.174%;
	max-width: 22.281%;
	max-height: 15.231%;
	width: auto;
	height: auto;
	font-size: 1.576vw;
	font-weight: bold;
	text-align: left;
	color:#1b1b1c;
}


#text_4 {
	position: absolute;
	top: 59.213%;
	left: 76.8%;
	max-width: 22.281%;
	max-height: 15.231%;
	width: auto;
	height: auto;
	font-size: 1.576vw;
	font-weight: bold;
	text-align: left;
	color:#1b1b1c;
}

#top_maya_kiran_a {
	position: absolute;
	top: 0%;
	left: 46.926%;
	max-width: 26.169%;
	max-height: 37.13%;
	width: 498px;
	height: 401px;
}

#middle_maya_kiran_a {
	position: absolute;
	top: 34.63%;
	left: 42.927%;
	max-width: 27.168%;
	max-height: 38.704%;
	width: 517px;
	height: 418px;
}

#bottom_maya_kiran_a {
	position: absolute;
	top: 73.426%;
	left: 45.927%;
	max-width: 23.332%;
	max-height: 26.389%;
	width: 444px;
	height: 285px;
}