body { 
    font-family:"Bad Script";
}

img.logo#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div#content-container 

p.code{
    display: table;
    color: blueviolet;
    position: relative;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    font-size: 140px;
}

p.not-found{
    display: table;
    color: blueviolet;
    position: relative;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}

footer.footer

p.footer-text{
    display: table;
    color: blueviolet;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
}