body { 
    font-family:"Bad Script";
}

img.logo#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div#content-container 

p.main-text{
    display: table;
    color: blueviolet;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
}

footer.footer

p.footer-text{
    display: table;
    color: blueviolet;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
}