/*
	@name web_1920___3
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: table; position: relative; width: 1920px; height: 2160px; margin-left: auto; margin-right: auto;  }

#_bg__web_1920___3 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 2160px;
	background:rgba(255,255,255,255);
}


#image_from_ios__1_ {
	top: 0px;
	left: -145px;
	width: 2532px;
	height: 2160px;
}


#tabletop {
	top: 980px;
	left: -102px;
	width: 2022px;
	height: 1347.5px;
}


#rectangle_18 {
	top: 575px;
	left: 1708px;
	width: 5px;
	height: 18px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#image1__1_ {
	top: 43px;
	left: 70px;
	width: 957px;
	height: 957px;
}


#e839d6da_7b96_497a_a409_a2594745546d {
	top: 1080px;
	left: 187px;
	width: 1546.5px;
	height: 989px;
}


#personality_spotlight {
	top: 575px;
	left: 1209px;
	width: 608px;
	height: 247px;
	font-family: Segoe Script;
	font-size: 100px;
	font-weight: bold;
	text-align: left;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #ced7d7;
	text-shadow: 0 0 2px #ced7d7;
	color:#9b74a9;
}


#__umm__if_you_want_to_see_my_student_id_so_bad__maybe_you_should_just_scroll_down__ {
	top: 138.5px;
	left: 1120.5px;
	width: 485px;
	height: 218px;
	overflow: hidden;
	font-family: Segoe Script;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	line-height: 70px;
	color:#1b1b1c;
}


#scar3 {
	top: -11.28466796875px;
	left: 1457.4934082031px;
	width: 613.26245117188px;
	height: 532.68823242188px;
}


#tabletop_ek1 {
	top: 1068px;
	left: -102px;
	width: 2022px;
	height: 1347.5px;
}


#rectangle_25 {
	top: 575px;
	left: 1708px;
	width: 5px;
	height: 18px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#image1__1__ek1 {
	top: 43px;
	left: 70px;
	width: 957px;
	height: 957px;
}


#e839d6da_7b96_497a_a409_a2594745546d_ek1 {
	top: 1080px;
	left: 187px;
	width: 1546.5px;
	height: 989px;
}


#__umm__if_you_want_to_see_my_student_id_so_bad__maybe_you_should_just_scroll_down___ek1 {
	top: 138.5px;
	left: 1120.5px;
	width: 485px;
	height: 218px;
	overflow: hidden;
	font-family: Segoe Script;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	line-height: 70px;
	color:#1b1b1c;
}


#scar3_ek1 {
	top: -11.28466796875px;
	left: 1457.4934082031px;
	width: 613.26245117188px;
	height: 532.68823242188px;
}



/* Add your custom CSS here */
