body {
	margin: 0px;
	padding: 0px;
	font-family:"Bad Script";
	overflow-x: hidden;
	overflow-y: hidden;
}

#content-container{
	max-width: 100%;
	max-height: 100%;
	width: 1920px;
	height: 1080px;
}


#tonality {
	position: absolute;
	max-width: 101.94%;
	width: 1906px;
	height: auto;
}


#arrow {
	position: absolute;
	left: 70.524%;
	width: 25.645%;
	width: 488.03363037109px;
	height: auto;
}